<!-- Loops over each object in the dishes array -->
{{#each dishes as |dish| }}

    <div>
        <img src="{{dish.img}}">
        <h2>
            <a href="/dish/{{dish.id}}">{{dish.name}}</a>
        </h2>
        <ul>
            {{#each dish.ingredients}}
                <li>{{this}}</li>
            {{/each}}
        </ul>
        <p>Cooked Up By: {{dish.username}}</p>
    </div>
{{/each}}