<!-- Loops over each object in the dishes array -->
{{#each dishes as |dish| }}

    <div>
        <img src="{{dish.img}}">
        <h2>
            <a href="/dish/{{dish.id}}">{{dish.name}}</a>
        </h2>
        <p>
            {{dish.description}}
        </p>
        <p>Cooked Up By: {{dish.creator}}</p>
    </div>
{{/each}}