<h2>Welcome, {{username}}!</h2>

<h3>Create a New Dish:</h3>

<form class="new-dish-form">
    <div>
        <label for="dish-name">Dish Name:</label>
        <input type="text" id="dish-name" name="dish-name" />
    </div>
    <div>
        <label for="ingredients">Ingredients:</label>
        <textarea id="ingredients" name="ingredients" placeholder="Enter each ingredient on a new line"></textarea>
    </div>
    <div>
        <button type="submit">Create</button>
    </div>
</form>

{{#if mydishes.length}}
<div class="dish-list">
    <h3>My Dishes:</h3>

    {{#each mydishes as |mydish|}}
    <div>
        <div>
            <h4><a href="/dish/{{dish.id}}">{{dish.name}}</a></h4>
        </div>
        <div>
            <button data-id="{{dish.id}}">DELETE</button>
        </div>
    </div>
    {{/each}}
</div>
{{else}}
<h3>You have no Dishes...</h3>
{{/if}}

{{#if myfavorites.length}}
<div class="dish-list">
    <h3>My favorites:</h3>

    {{#each myfavorites as |myfavorite|}}
    <div>
        <div>
            <h4><a href="/dish/{{dish.id}}">{{dish.name}}</a></h4>
        </div>
        <div>
            <button data-id="{{dish.id}}">DELETE</button>
        </div>
    </div>
    {{/each}}
</div>
{{else}}
<h3>You have no favorite dishes...</h3>
{{/if}}

<script src="./js/profile.js"></script>